.dropzone {
    --height: 150px;
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    width: 94%;

    border: 1px slategray dashed;
    border-radius: 5px;

    text-align: center;

    margin: 0 32px;
}

.dropzone div {
    padding: calc((var(--height) - 24*3px)/2) 0;
}

.dropzone p {
    color: slategray;
}